body {
  background: papayawhip;
}

* {
  border: 1px solid red;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em;
}


.a {
  width: 100%;
}

.a, .b, .c {
  flex-grow: 3;
  margin: 1em;
}

@media screen and (min-width: 100px) {
  .container{
   flex-direction: row;
   flex-wrap: wrap;
  }
  
.d .e .f {
  flex-grow: 3; 
  margin: 1em;
}

 